<html>
    <head>
        <title>Tasks To Be Done</title>
        <link rel="stylesheet" href="Style/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="box" id="heading">
            <h1><%=day%></h1>
        </div>

        <div class="box">
            <%  another.forEach(function(item){   %>
                <form action="/delete", method="post">
            <div class="item">
                <input type="checkbox" name="check" value=<%=item._id%> onchange="this.form.submit()">
                <p>
                        <%=item.name%>
                </p>
            </div>
        </form>
            <%   })  %>
        
        <form class="item" action="/" method="post">
            <input type="text" name="add" placeholder="New Item" autocomplete="off">
            <button type="submit">+</button>
        </form>
        
    </div>
    <div class="font">
        Made By ❤️ Syed Amaan
    </div>
    </body>
</html>